In [2]:
import pandas as pd
import numpy as np
import keras
import keras.layers as L
import keras.models as M
import tensorflow as tf
from PIL import Image
import os
import matplotlib.pyplot as plt
from keras.utils import Sequence

In [3]:
train=pd.read_csv('/Users/suraj/Downloads/written_name_train_v2.csv')
validation=pd.read_csv('/Users/suraj/Downloads/written_name_validation_v2.csv')

In [4]:
train.isna().sum()

FILENAME      0
IDENTITY    565
dtype: int64

In [5]:
train.dropna(inplace=True)

In [6]:
train.head()

          FILENAME   IDENTITY
0  TRAIN_00001.jpg  BALTHAZAR
1  TRAIN_00002.jpg      SIMON
2  TRAIN_00003.jpg      BENES
3  TRAIN_00004.jpg    LA LOVE
4  TRAIN_00005.jpg     DAPHNE

In [7]:
train.describe().transpose()

           count  unique               top  freq
FILENAME  330396  330396  TRAIN_295546.jpg     1
IDENTITY  330396  100539            THOMAS  1825

In [8]:
train['Length']=train['IDENTITY'].apply(lambda x : len(str(x)))
train=train[train['Length']<=21]
train['IDENTITY']=train['IDENTITY'].str.upper()
train[train['Length']==max(train['Length'])]

                FILENAME               IDENTITY  Length
10278    TRAIN_10279.jpg  DOSSANTOS LASCONCELOS      21
108567  TRAIN_108568.jpg  O ZUARRDI EREBEVITRAC      21
156500  TRAIN_156501.jpg  ANDRIANNARISOA--DEGHI      21
160575  TRAIN_160576.jpg  LOUISIANE - EVANGELIN      21
174121  TRAIN_174122.jpg  GU ILLOSSOO - OARRIBA      21
212583  TRAIN_212584.jpg  DE MALEZIEUX DU HAMEL      21
220135  TRAIN_220136.jpg  COSTREL DE CORAINVILL      21
229529  TRAIN_229530.jpg  ROUSSEAV -- CHAUDIERE      21
230011  TRAIN_230012.jpg  BEKNARD DE LAVERNETTE      21
308769  TRAIN_308770.jpg  DATE NAISSANCE CLASSE      21
325215  TRAIN_325216.jpg  BEHARY - LAUL - SIRDE      21